<img src="../../assets/globe.png" alt="globe" class="absolute">
<div class="h-screen w-screen flex align-items-center flex-column">
    <h1 class="bg-primary p-2 pb-0 w-full">P.S. Hunter - DI.KYB.</h1>
    <h2  class="bg-primary pl-2 pb-2 pt-0 m-0 text-sm w-full">Threat Hunting Intelligence</h2>
    <h1 class="text-primary text-left mt-2">Select a pcap collection to load</h1>
    <div class="grid p-2 m-2">
        <p-card *ngFor="let col of collections"
            class="m-2 w-14rem transition-all transition-duration-300">
            <ng-template pTemplate="title">
                <button pButton pRipple [label]="col.name" class="p-button-link text-2xl"
                (click)="selectCol(col.name)"></button>
            </ng-template>
            <ng-template pTemplate="subtitle">
                <div class="h-1rem">
                    {{col.timestamp | date:'d/M/yy HH:mm:SS'}}
                </div>
            </ng-template>
            <ng-template pTemplate="footer" class="p-fluid">
                <button pButton pRipple icon="pi pi-trash" label="Delete"
                    (click)="delCol(col.name, $event)"
                    class="p-button-raised p-button-danger w-full z-5"></button>
            </ng-template>
        </p-card>
    </div>
    <div>
        <h2 class="text-primary">Create new Collection</h2>
        <div class="m-4 w-30rem p-fluid">
            <div class="field">
                <span class="p-float-label mt-2">
                    <input id="colName" type="text" pInputText [(ngModel)]="colName" (input)="spaceToUnder($event)">
                    <label for="colName">Collection Name</label>
                </span>
                <small class="p-error" *ngIf="submitted && !colNameValid">Name is required and MUST be unique.</small>
            </div>
            <div class="mt-2">
                <p-fileUpload (onSelect)="getSelectedFile($event)" [multiple]="false" accept=".pcap"
                [previewWidth]="0" #pcapU
                [showCancelButton]="false" [showUploadButton]="false" [draggable]="true"></p-fileUpload>
                <small class="p-error" *ngIf="submitted && !pcap">You have not selected a pcap file.</small>
            </div>
            <button pButton pRipple label="Upload" [icon]="loading ? 'pi pi-spin pi-spinner' : 'pi pi-upload'" 
                class="w-full mt-2" (click)="upload()" [disabled]="loading"></button>
        </div>
    </div>
</div>
<p-toast></p-toast>
<p-confirmPopup></p-confirmPopup>
