<div class="h-screen" style="overflow-y: hidden;">
    <h2 class="m-2"><i class="pi pi-wifi mr-2"></i>Beacons</h2>
    <div *ngIf="!details; else elseBlock">
        <p-table [value]="beacons" styleClass="p-datatable-striped" responsiveLayout="scroll"
        [scrollable]="true" scrollHeight="calc(100vh - 110px)" selectionMode="single" [loading]="loading"
        [paginator]="true" [rows]="rows" [showCurrentPageReport]="true" [style]="{'height': '100%'}"
        currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries" [rowsPerPageOptions]="[10,25,50]">
        <ng-template pTemplate="header">
                <tr>
                    <th pSortableColumn="score">Beacon Score<p-sortIcon field="score"></p-sortIcon></th>
                    <th pSortableColumn="src">Source IP<p-sortIcon field="src"></p-sortIcon></th>
                    <th pSortableColumn="dst">Destination IP<p-sortIcon field="dst"></p-sortIcon></th>
                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-beacon>
                <tr (click)="view(beacon.id)">
                    <td>{{beacon.score}}</td>
                    <td>{{beacon.src}}</td>
                    <td>{{beacon.dst}}</td>
                </tr>
            </ng-template>
            <ng-template pTemplate="emptymessage">
                <div class="w-full h-20rem flex justify-content-center align-items-center flex-column">
                    <i class="pi pi-search mb-4" style="font-size: 10rem; opacity: 0.4;"></i>
                    No beacons found in this pcap collection
                </div>
            </ng-template>
        </p-table>
    </div>
    <ng-template #elseBlock>
        <div class="m-4" style="overflow-y: auto; height: 92%;">
            <h2 style="border-bottom: 1px solid gray;" 
                class="p-2 surface-50 font-light">Beacon ID: {{beaconDetails._id["$oid"]}}</h2>
            <table class="w-full text-lg details">
                <tr>
                    <th>Source IP</th>
                    <td>{{beaconDetails.src}}</td>
                </tr>
                <tr>
                    <th>Destination IP</th>
                    <td>{{beaconDetails.dst}}</td>
                </tr>
                <tr>
                    <th>Average Bytes</th>
                    <td>{{beaconDetails.avg_bytes}}</td>
                </tr>
                <tr>
                    <th>Connection Count</th>
                    <td>{{beaconDetails.connection_count}}</td>
                </tr>
            </table>
            <p-accordion [multiple]="true">
                <p-accordionTab header="Port Analysis">
                    <p-chart type="doughnut" [data]="ports" [options]="doughnutOptions" height="200px"></p-chart>
                </p-accordionTab>
                <p-accordionTab header="Time Analysis">
                    <p-chart type="bar" [data]="ts" [options]="options" height="200px"></p-chart>
                </p-accordionTab>
                <p-accordionTab header="Data Analysis">
                    <p-chart type="bar" [data]="ds" [options]="options" height="200px"></p-chart>
                </p-accordionTab>
            </p-accordion>        
        </div>
    </ng-template>
</div>
